/* GENERAL STYLES */
#reddit-app, body {
    background: #efefef;
}

.jumbotron {
background-image: url("https://c1.staticflickr.com/6/5567/31437486496_cf5cab625e_b.jpg");
background-position: right center;
}
